.panel-body{
	text-align: center;
}
form{
	border: 1px solid #ddd;
	width: 400px;
	padding: 20px 0px;
	text-align: center;
	border-radius: 8px;
	background-color: #ffe6f9;
	margin:auto;
}
div.panel.panel-default{
	background-color: #130d06;
	color: white;
	margin-bottom: 60px;
	width: 100%;
}
